<h1>sign up</h1>
<form action="/login/submit" method="post">
<input type="email" name='email' placeholder="username/email">
<br><br>
<input type="password" name='pwd'  placeholder="password">
<button type="submit">submit</button>
</form>